<template>
<div>
    <alert :style="{textAlign:'left'}" :message="message" v-if="showMessage"></alert>
    <h1>Defect Status Setting</h1>

    <!-- Add Defect Button -->
    <div :style="{margin:'20px'}">
        <b-button variant="success" v-b-modal.defect-modal>Add New Defect</b-button>
        <b-button href="/Report/DefectStatus/OpenDefectStatus">Open Defect by Defect Status</b-button>
    </div>

    <!-- Display Defect Data -->
    <b-table :fields="fields" :items="items">
        <template v-slot:cell(actions)="row">
            <b-button size="sm" variant="warning" v-b-modal.edit-defect-modal @click="editDefect(row.item)">
                Edit
            </b-button>
            <b-button size="sm" variant="danger" @click="onDeleteDefect(row.item)">
                Delete
            </b-button>
        </template>
    </b-table>

    <!-- Add Defect with Modal -->
    <b-modal ref="addDefectModal" id="defect-modal" title="Add New Defect" size="lg" hide-footer>
        <b-form @submit="addDefect" @reset="onReset">
            <b-form-group id="form-defect-group" label="Defect Status Name" label-for="form-defect-input">
                <b-form-input v-model="AddDefect.defect_status_name" id="form-defect-input" type="text" placeholder="Enter your defect status name" required>
                </b-form-input>
            </b-form-group>
            <b-button variant="primary" type="submit">Submit</b-button>
            <b-button type="reset" variant="danger">Reset</b-button>
        </b-form>
    </b-modal>

    <!-- Add Defect with Modal -->
    <b-modal ref="editDefectModal" id="edit-defect-modal" title="Edit Defect Status" size="lg" hide-footer>
        <b-form @submit="updateDefect" @reset="onResetUpdate">
            <b-form-group id="form-defect-edit" label="Defect Status Name" label-for="form-defect-edit">
                <b-form-input v-model="EditDefect.defect_status_name" id="form-defect-edit" type="text" placeholder="Enter your defect status name" required>
                </b-form-input>
            </b-form-group>
            <b-button variant="primary" type="submit">Submit</b-button>
            <b-button type="reset" variant="danger">Reset</b-button>
        </b-form>
    </b-modal>

</div>
</template>

<script>
import ProjectService from '@/services/ProjectService'

export default {
    layout: 'LayoutWithSubNavbar',

    data() {
        return {
            message: '',
            showMessage: false,

            items: [],
            fields: [{
                    key: 'defect_status_name',
                    label: 'Defect Status Name',
                    sortable: true,
                    sortDirection: 'desc'
                },
                {
                    key: 'actions',
                    label: 'Actions'
                }
            ],

            AddDefect: {
                defect_status_name: ''
            },
            EditDefect: {
                id: '',
                defect_status_name: ''
            }
        }
    },

    created() {
        this.listdata()
    },

    methods: {
        //listdata
        listdata() {
            ProjectService.getAllDefect()
                .then(response => {
                    this.items = response.data.defect_status
                    console.log(this.items);
                })
                .catch(error => {
                    console.log(error);
                })
        },

        //adddata
        addDefect(e) {
            e.preventDefault()
            const defect_status_name = this.AddDefect.defect_status_name

            ProjectService.addDefect({
                    defect_status_name
                })
                .then(response => {
                    this.listdata();
                    this.message = 'Defect Status is added !';
                    this.showMessage = true;
                    console.log(response);
                    this.$refs.addDefectModal.hide();
                })
                .catch(error => {
                    console.log(error);
                })
        },
        initForm() {
            this.AddDefect.defect_status_name = '';
            this.EditDefect.defect_status_name = '';
        },
        onSubmit(e) {
            e.preventDefault()
            this.$refs.addDefectModal.hide()
            this.addDefect()
            this.initForm()
        },
        onReset(e) {
            e.preventDefault()
            this.$refs.addDefectModal.hide()
            this.initForm()
        },

        // function edit data
        editDefect(item) {
            this.EditDefect = item;
            console.log(this.EditDefect);
        },
        onSubmitUpdate(e) {
            e.preventDefault();
            this.$refs.editDefectModal.hide()
            this.updateDefect(e)
        },
        onResetUpdate(e) {
            e.preventDefault();
            this.$refs.editDefectModal.hide();
            this.initForm();
            this.listdata();
        },
        updateDefect(e) {
            e.preventDefault();

            const id = this.EditDefect.id;
            const defect_status_name = this.EditDefect.defect_status_name

            ProjectService.updateDefect(id, {
                    id,
                    defect_status_name,
                })
                .then(response => {
                    this.listdata();
                    this.message = 'Defect Status is updated !';
                    this.showMessage = true;
                    console.log(response);
                    this.$refs.editDefectModal.hide();
                })
        },

        // function delete data
        deleteDefect(item) {
            if (confirm("Do you want to delete ?")) {
                ProjectService.deleteDefect(item.id)
                    .then(response => {
                        this.message = 'Defect Status is removed'
                        this.showMessage = true
                        this.listdata()
                    })
            }
        },
        onDeleteDefect(item) {
            this.deleteDefect(item)
        }
    }
}
</script>

<style>

</style>
