<template>
<div>
    <alert :style="{textAlign:'left'}" :message="message" v-if="showMessage"></alert>
    <h1>Opening Defect by Status</h1>

    <!-- Add Defect Status Button -->
    <div :style="{margin:'20px'}">
        <b-button variant="success" v-b-modal.defect-in-graph>Add Defect Status in Graph</b-button>
    </div>

    <b-table :fields="fields" :items="defectInGraph">
        <template v-slot:cell(amount)="data">
            <b-form-input v-model="data.item.amount" v-on:change="fillData"></b-form-input>
        </template>
        <template v-slot:cell(actions)="data">
            <b-button size="sm" variant="danger" @click="deleteDefect(data.item.id)">
                Delete
            </b-button>
        </template>
    </b-table>

    <div class="small">
        <BarChart :chart-data='datacollection' />
    </div>

    <!-- Add feature to TEP -->
    <b-modal ref="AddDefectInGraph" id="defect-in-graph" title="Add Defect Status in Graph" size="lg" hide-footer>
        <b-form @submit="addDefectinGraph" @reset="onReset">
            <b-form-group label="Defect Status">
                <b-form-select v-model="AddDefect.defect_status_id" :options="defectList">
                    <template v-slot:first>
                        <b-form-select-option value="" disabled>--- Please select Defect Status in Graph ---</b-form-select-option>
                    </template>
                </b-form-select>
            </b-form-group>
            <b-button type="submit" variant="primary">Add Defect Status to Graph</b-button>
            <b-button type="reset" variant="danger">Cancel</b-button>
        </b-form>
    </b-modal>

</div>
</template>

<script>
import ProjectService from '@/services/ProjectService'
import Chart from 'chart.js'
import BarChart from '@/components/BarChart.js'

export default {
    layout: 'LayoutWithSubNavbar',
    components: {
        BarChart
    },

    data() {
        return {
            datacollection: null,

            message: '',
            showMessage: false,

            defectList: [],
            defectInGraph: [],
            defectMap: {},

            AddDefect: {
                defect_status_id: null,
            },

            fields: [{
                    key: 'defect_status_name',
                    label: 'Defect Status Name',
                },
                {
                    key: 'amount',
                    label: 'Amount'
                },
                {
                    key: 'actions',
                    label: 'Actions'
                }
            ],

        }
    },

    created() {
        this.listDefect()
    },

    mounted() {
        this.fillData();
    },

    methods: {
        fillData() {
            this.datacollection = {
                ...this.datacollection,
            };
            this.datacollection.labels = [];
            this.datacollection.datasets[0].data = [];
            this.defectInGraph.forEach((def) => {
                this.datacollection.labels.push(def.defect_status_name);
                this.datacollection.datasets[0].data.push(def.amount);
            });
        },

        listDefect() {
            this.datacollection = {

                labels: [],
                datasets: [{
                    label: 'Amount in Graph',
                    backgroundColor: 'rgba(255, 0, 0, 0.2)',
                    borderColor: ' lightblue',
                    hoverBackgroundColor: 'pink',
                    borderWidth: 1,
                    hoverBorderColor: 'black',
                    data: [],
                }]
            }
            ProjectService.getAllDefect()
                .then(response => {
                    response.data.defect_status.forEach((def) => {
                        this.defectMap[def.id] = def;
                        if (def.amount === null) def.amount = 0;
                    });
                    const defectList = response.data.defect_status.map(defect_status => {
                            return {
                                value: defect_status.id,
                                text: `${defect_status.defect_status_name}`
                            }
                        })
                        .filter((item) => {
                            let result = true;
                            for (let defect_status of this.defectInGraph) {
                                if (item.value == defect_status.id) {
                                    result = false;
                                    break;
                                }
                            }
                            return result;
                        })
                    this.defectList = defectList
                })
                .catch(error => {
                    console.log(error);
                })
        },

        addDefectinGraph(e) {
            e.preventDefault();
            if (this.AddDefect.defect_status_id != null) {
                this.defectInGraph.push(this.defectMap[this.AddDefect.defect_status_id]);
                this.message = 'Defect Status is add in Graph !'
                this.showMessage = true;
            }
            this.$refs.AddDefectInGraph.hide();
            this.listDefect();
            this.fillData();
        },
        initForm() {
            this.AddDefect.defect_status_id = '';
        },
        onReset(e) {
            e.preventDefault();
            this.$refs.AddDefectInGraph.hide()
            this.initForm()
        },

        deleteDefect(id) {

            if (confirm("Do you want to delete ?")) {
                this.defectInGraph = this.defectInGraph.filter((item) => item.id !== id);
                this.message = 'Defect Status is deleted in Graph !'
                this.showMessage = true;
            }

            this.listDefect();
            this.fillData();
        }
    }
}
</script>

<style scoped>
.small {
    max-width: 600px;
    margin: 150px auto;
}
</style>>
