<template>
<div>
    <alert :style="{textAlign:'left'}" :message="message" v-if="showMessage"></alert>
    <h1>Account Management</h1>

    <b-table show-empty :items="userList" :fields="fields">
        <template v-slot:cell(action)="row">
            <!-- <b-button variant="warning" v-b-modal.edit-status-modal @click="editStatus(row.item)">Edit</b-button> -->
            <b-button variant="danger" @click="onDeleteUser(row.item)">Delete</b-button>
        </template>
    </b-table>

    <!-- <b-modal ref="editStatus" id="edit-status-modal" title="Edit Status" size="lg" hide-footer>
        <form @submit="changStatus" @reset="onResetStatus" >
            <b-form-group label="Status">
                <b-form-select v-model="editStatusForm.status_user" :options="OptionStatus">
                    <template v-slot:first>
                        <b-form-select-option value="" disabled> Please select Status</b-form-select-option>
                    </template>
                </b-form-select>
            </b-form-group>

            <b-button variant="primary" type="submit">Submit</b-button>
            <b-button type="reset" variant="danger">Reset</b-button>
        </form>
    </b-modal> -->
</div>
</template>

<script>
import UserService from '@/services/UserService'
import axios from 'axios'

export default {
    layout: 'Admin',
    data() {
        return {
            message: '',
            showMessage: '',

            editStatusForm: {
                id: '',
                status_user: ''
            },

            // OptionStatus: [{
            //         value: 'A',
            //         text: 'A'
            //     },
            //     {
            //         value: 'I',
            //         text: 'I'
            //     }
            // ],

            userList: [],
            fields: [{
                    key: 'email',
                    label: 'Email'
                },
                {
                    key: 'firstname',
                    label: 'First Name'
                },
                {
                    key: 'lastname',
                    label: 'Last Name'
                },
                // {
                //     key: 'status_user',
                //     label: 'Status'
                // },
                {
                    key: 'action',
                    label: 'Action'
                }
            ],
        }
    },

    created() {
        this.listUser()
    },

    methods: {
        listUser() {
            UserService.getAll()
                .then(response => {
                    this.userList = response.data.users
                    console.log(response);

                })
                .catch(error => {
                    console.log(error);
                })
        },

        // editStatus(item) {
        //     this.editStatusForm = item;
        // },
        // initStatus() {
        //     this.editStatusForm.id = ''
        //     this.editStatusForm.staus = ''
        // },
        // onSubmitStatus(e) {
        //     e.preventDefault();
        //     this.$refs.editStatus.hide()
        //     this.updateStatus(e)
        // },
        // onResetStatus(e) {
        //     e.preventDefault();
        //     this.$refs.editStatus.hide()
        //     this.initStatus()
        //     this.listUser()
        // },
        // changStatus(e) {
        //     e.preventDefault();

        //     const id = this.editStatusForm.id
        //     const status = this.editStatusForm.status
        //     UserService.changeStatus(id, {
        //         id,
        //         status
        //     })
        //     .then(response => {
        //         this.listUser();
        //         this.$refs.editStatus.hide()
        //     })
        // },

        // delete user

        deleteUser(item) {
            if (confirm("Do you want to delete ?")) {
                UserService.deleteUser(item.id)
                    .then(response => {
                        this.message = 'User is removed'
                        this.showMessage = true
                        this.listUser()
                    })
            }
        },
        onDeleteUser(item) {
            this.deleteUser(item)
        }
    }
}
</script>
