<template>
<div>
    <alert :style="{textAlign:'left'}" :message="message" v-if="showMessage"></alert>
    <h1>My Profile</h1>

    <b-card :style="{marginTop:'20px'}">
        <b-row>
            <b-col></b-col>
            <b-col cols="2.5" :style="{textAlign:'left'}">
                <h4>Email :</h4>
                <h4>First Name : </h4>
                <h4>Last Name : </h4>
                <h4>Role : </h4>
            </b-col>
            <b-col cols="3.5" :style="{textAlign:'left',marginLeft:'20px'}">
                <h4>{{this.user.email}}</h4>
                <h4>{{this.user.firstname}}</h4>
                <h4>{{this.user.lastname}}</h4>
                <h4>{{this.user.role}}</h4>
            </b-col>
            <b-col></b-col>
        </b-row>
        <!-- <label>
            <h4>Email: {{this.user.email}} </h4>
            <h4>First Name : {{this.user.firstname}} </h4>
            <h4>Last Name : {{this.user.lastname}} </h4>
            <h4>Role : {{this.user.role}} </h4>
        </label> -->
    </b-card>

    <div :style="{marginTop:'15px'}">
        <nuxt-link :to="{name:'EditProfile', query:{ id:this.user.id }}">
            <b-button variant="primary">Edit Profile</b-button>
        </nuxt-link>

        <b-button @click="requestResetPassword" variant="danger">Reset Password</b-button>
    </div>

    <b-modal ref="editProfile" id="edit-profile" title="Edit Profile" size="lg" hide-footer>
        <form></form>
    </b-modal>
</div>
</template>

<script>
import UserService from '@/services/UserService'

export default {
    layout: 'Admin',

    data() {
        return {
            message: '',
            showMessage: false,

        }
    },

    computed: {
        user() {
            return this.$store.getters.user
        }
    },

    methods: {
        requestResetPassword() {
            UserService.requestResetPassword(this.user.email)
                .then(response => {
                    this.message = response.data.message;
                    this.showMessage = true;
                })
        }
    }
}
</script>
