<template>
<div>
    <h1>Reprot</h1>
    <!-- <b-button href="/Report/TestResult">Test Result</b-button> -->
    <b-button href="/Report/Priority" variant="success">Priority Setting</b-button>
    <b-button href="/Report/Servity" variant="warning">Servity Setting</b-button>
    <b-button href="/Report/DefectStatus" variant="primary">Defect Status Setting</b-button>
</div>
</template>

<script>
export default {
    layout: 'Admin'
}
</script>

<style>

</style>
