<template>
<div>
    <b-navbar toggleable="lg" type="dark" variant="dark">
        <b-navbar-brand>TMT</b-navbar-brand>
        <b-navbar-nav class="ml-auto">
            <b-nav-item>
                <h4 @click="$router.go(-1)">Back</h4>
            </b-nav-item>       
        </b-navbar-nav>
    </b-navbar>
</div>
</template>

<script>
export default {}
</script>

<style>

</style>
