<template>
<div>
    <!-- Display function Sort -->
    <div :style="{marginTop:'20px'}">
        <b-container fluid>
            <b-form-group label="Filter" label-cols-sm="6" label-align-sm="right" label-for="filterInput">
                <b-input-group>
                    <b-form-input v-model="filter" type="search" placeholder="Type to Search"></b-form-input>
                    <b-input-group-append>
                        <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                    </b-input-group-append>
                </b-input-group>
            </b-form-group>

            <b-form-group label="Sort" label-cols-sm="6" label-align-sm="right" label-for="sortBySelect">
                <b-input-group>
                    <b-form-select v-model="sortBy" id="sortBySelect" :options="sortOptions">
                        <template v-slot:first>
                            <option value="">---</option>
                        </template>
                    </b-form-select>
                    <b-form-select v-model="sortDesc" :disabled="!sortBy">
                        <option :value="false">Asc</option>
                        <option :value="true">Desc</option>
                    </b-form-select>
                </b-input-group>
            </b-form-group>

            <b-row>
                <b-col sm="5" md="6" class="my-1">
                    <b-form-group label="Per Page" label-cols-sm="6" label-cols-md="4" label-cols-lg="3" label-align-sm="right" label-size="sm" label-for="perPageSelect">
                        <b-form-select v-model="perPage" id="perPageSelect" size="sm" :options="pageOptions"></b-form-select>
                    </b-form-group>
                </b-col>

                <b-col sm="7" md="6" class="my-1">
                    <b-pagination v-model="currentPage" :total-rows="totalRows" :per-page="perPage" align="fill" size="sm" class="my-0"></b-pagination>
                </b-col>
            </b-row>

        </b-container>
    </div>

    <!-- แสดงข้อมูล -->
    <!-- <b-table 
        show-empty 
        stacked="md" 
        :items="items" 
        :fields="fields" 
        :current-page="currentPage" 
        :per-page="perPage" 
        :filter="filter" 
        :filterIncludedFields="filterOn" 
        :sort-by.sync="sortBy" 
        :sort-desc.sync="sortDesc" 
        :sort-direction="sortDirection"
        >
        <template v-slot:cell(actions)="row">

            <nuxt-link :to="{name:'Feature', query:{ id:row.item.id }}">
                <b-button size="sm" variant="primary">View</b-button>
            </nuxt-link>

            <b-button size="sm" variant="warning" v-b-modal.edit-modal @click="editProject(row.item)">
                Edit
            </b-button>

            <b-button size="sm" variant="danger" @click="onDeleteProject(row.item)">
                Delete
            </b-button>

            <nuxt-link :to="{name:'tep', query:{ id:row.item.id }}">
                <b-button size="sm">Create TEP</b-button>
            </nuxt-link>

        </template>
    </b-table> -->
</div>
</template>

<script>

import ProjectService from '@/services/ProjectService'

export default {
    props: ['fields', 'items', 'editForm'],
    data() {
        return {
            currentPage: 1,
            perPage: 3,
            pageOptions: [3, 10, 15],
            sortBy: '',
            sortDesc: false,
            sortDirection: 'asc',
            filter: null,
            filterOn: [],
        }
    },
    computed: {

        sortOptions() {
            return this.fields
                .filter(f => f.sortable)
                .map(f => {
                    return {
                        text: f.label,
                        value: f.key
                    }
                })
        },
        totalRows() {
            return this.items.length
        }
    },

    methods: {
        // function list data
        listdata() {
            ProjectService.getAll()
                .then(response => {
                    this.items = response.data.projects;
                    console.log(this.items);
                })
                .catch(error => {
                    console.log(error);

                })
        },

        onFiltered(filteredItems) {
            this.totalRows = filteredItems.length
            this.currentPage = 1
        },

        editProject(item) {
            this.editForm = item;
            console.log(this.editForm);
        },

        // function delete data
        deleteProject(item) {
            if (confirm("Do you want to delete ?")) {
                ProjectService.deleteData(item.id)
                    .then(response => {
                        this.message = 'Project is removed'
                        this.showMessage = true
                        this.listdata()
                    })
            }
        },
        onDeleteProject(item) {
            this.deleteProject(item)
        }
    }
}
</script>
