<template>
<div>
    <h1>My Profile</h1>

    <b-card :style="{marginTop:'20px'}">
        <label>
            <h4>Email: {{this.user.email}} </h4>
            <h4>First Name : {{this.user.firstname}} </h4>
            <h4>Last Name : {{this.user.lastname}} </h4>
            <h4>Role : {{this.user.role}} </h4>
        </label>
    </b-card> 

    <div :style="{marginTop:'15px'}">
        <b-button size="lg" variant="primary">Edit Profile</b-button>
    </div>
</div>
</template>

<script>
export default {
    layout: 'User',
    computed: {
        user() {
            return this.$store.getters.user
        }
    }
}
</script>
