<template>
<div>
    <h1>Project</h1>

    <!-- Display function Sort -->
    <div :style="{marginTop:'20px'}">
        <b-container fluid>
            <b-form-group label="Filter" label-cols-sm="6" label-align-sm="right" label-for="filterInput">
                <b-input-group>
                    <b-form-input v-model="filter" type="search" placeholder="Type to Search"></b-form-input>
                    <b-input-group-append>
                        <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                    </b-input-group-append>
                </b-input-group>
            </b-form-group>

            <b-form-group label="Sort" label-cols-sm="6" label-align-sm="right" label-for="sortBySelect">
                <b-input-group>
                    <b-form-select v-model="sortBy" id="sortBySelect" :options="sortOptions">
                        <template v-slot:first>
                            <option value="">---</option>
                        </template>
                    </b-form-select>
                    <b-form-select v-model="sortDesc" :disabled="!sortBy">
                        <option :value="false">Asc</option>
                        <option :value="true">Desc</option>
                    </b-form-select>
                </b-input-group>
            </b-form-group>

            <b-row>
                <b-col sm="5" md="6" class="my-1">
                    <b-form-group label="Per Page" label-cols-sm="6" label-cols-md="4" label-cols-lg="3" label-align-sm="right" label-size="sm" label-for="perPageSelect">
                        <b-form-select v-model="perPage" id="perPageSelect" size="sm" :options="pageOptions"></b-form-select>
                    </b-form-group>
                </b-col>

                <b-col sm="7" md="6" class="my-1">
                    <b-pagination v-model="currentPage" :total-rows="totalRows" :per-page="perPage" align="fill" size="sm" class="my-0"></b-pagination>
                </b-col>
            </b-row>

        </b-container>
    </div>

    <!-- แสดงข้อมูล -->
    <b-table show-empty stacked="md" :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filter" :filterIncludedFields="filterOn" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" :sort-direction="sortDirection">
        <template v-slot:cell(actions)="row">

            <nuxt-link :to="{name:'Feature', query:{ id:row.item.id }}">
                <b-button size="sm" variant="primary">View</b-button>
            </nuxt-link>

            <b-button size="sm" variant="warning" v-b-modal.edit-modal @click="editProject(row.item)">
                Edit
            </b-button>

            <!-- <nuxt-link :to="{name:'Tep', query:{ id:row.item.id }}">
                <b-button size="sm">Create TEP</b-button>
            </nuxt-link> -->

        </template>
    </b-table>

    <!-- Edit Project with Modal -->
    <b-modal ref="editProjectModal" id="edit-modal" title="Edit Project" size="lg" hide-footer>
        <b-form @submit="updateProject" @reset="onResetUpdate">
            <b-form-group id="form-project-group" label="Project Name" label-for="form-projectname-input">
                <b-form-input v-model="editForm.project_name" id="form-projectname-input" type="text" placeholder="Enter your project name" required>
                </b-form-input>
            </b-form-group>

            <b-form-group id="form-project-group" label="Description" label-for="form-description-input">
                <b-form-textarea v-model="editForm.description" id="form-description-input" type="text" placeholder="Enter your description" required>
                </b-form-textarea>
            </b-form-group>

            <b-form-group id="form-project-group" label="Start Date" label-for="form-startdate-input">
                <b-form-input v-model="editForm.start_date" id="form-startdate-input" type="date" placeholder="Enter your start date" required>
                </b-form-input>
            </b-form-group>

            <b-form-group id="form-project-group" label="End Date" label-for="form-enddate-input">
                <b-form-input v-model="editForm.end_date" id="form-enddate-input" type="date" placeholder="Enter your end date" required>
                </b-form-input>
            </b-form-group>

            <b-form-group label="Project Manager" label-for="form-project_manager-input">
                <b-form-input v-model="editForm.project_manager" id="form-project_manager-input" type="text" placeholder="Enter your Project Manager" required>
                </b-form-input>
            </b-form-group>

            <b-form-group label="Business Analysis" label-for="form-business_analysis-input">
                <b-form-input v-model="editForm.business_analysis" id="form-business_analysis-input" type="text" placeholder="Enter your Business Analysis" required>
                </b-form-input>
            </b-form-group>

            <b-form-group label="Status">
                <b-form-select v-model="editForm.status" :options="OptionStatus">
                    <template v-slot:first>
                        <b-form-select-option value="" disabled> Please select Status</b-form-select-option>
                    </template>
                </b-form-select>
            </b-form-group>

            <b-button type="submit" variant="primary">Update</b-button>
            <b-button type="reset" variant="danger">Cancel</b-button>
        </b-form>
    </b-modal>

</div>
</template>

<script>
import ProjectService from '@/services/ProjectService'

export default {
    layout: 'User',
    data() {
        return {
            search: '',

            selected: null,
            OptionStatus: [{
                    value: 'Active',
                    text: 'Active'
                },
                {
                    value: 'Inactive',
                    text: 'Inactive'
                }
            ],

            editForm: {
                id: '',
                project_name: '',
                start_date: '',
                end_date: '',
                project_manager: '',
                business_analysis: '',
                description: '',
                status: ''
            },

            message: '',
            showMessage: false,
            items: [],
            fields: [{
                    key: 'project_name',
                    label: 'Project name',
                    sortable: true,
                    sortDirection: 'desc'
                },
                {
                    key: 'username',
                    label: 'Created by',
                    sortable: true,
                    sortDirection: 'desc'
                },
                {
                    key: 'actions',
                    label: 'Actions'
                }
            ],
            currentPage: 1,
            perPage: 5,
            pageOptions: [5, 10, 15],
            sortBy: '',
            sortDesc: false,
            sortDirection: 'asc',
            filter: null,
            filterOn: [],
        }
    },

    computed: {
        criteria() {
            return this.search.trim().toLowerCase()
        },

        sortOptions() {
            return this.fields
                .filter(f => f.sortable)
                .map(f => {
                    return {
                        text: f.label,
                        value: f.key
                    }
                })
        },
        totalRows() {
            return this.items.length
        }
    },

    created() {
        this.listdata()
    },

    methods: {
        onFiltered(filteredItems) {
            this.totalRows = filteredItems.length
            this.currentPage = 1
        },

        // function list data
        listdata() {
            ProjectService.getData()
                .then(response => {
                    this.items = response.data.projects;
                })
                .catch(error => {
                    console.log(error);
                })
        },

        // function edit data
        editProject(item) {
            this.editForm = item;
            console.log(this.editForm);
        },
        onSubmitUpdate(e) {
            e.preventDefault();
            this.$refs.editProjectModal.hide()
            this.updateProject(e)
        },
        onResetUpdate(e) {
            e.preventDefault();
            this.$refs.editProjectModal.hide();
            this.initForm();
            this.listdata();
        },
        updateProject(e) {
            e.preventDefault();

            const id = this.editForm.id;
            const project_name = this.editForm.project_name;
            const start_date = this.editForm.start_date;
            const description = this.editForm.description;
            const end_date = this.editForm.end_date;
            const project_manager = this.editForm.project_manager;
            const business_analysis = this.editForm.business_analysis;
            const status = this.editForm.status;

            ProjectService.updateData(id, {
                    id,
                    project_name,
                    description,
                    start_date,
                    end_date,
                    project_manager,
                    business_analysis,
                    status
                })
                .then(response => {
                    this.listdata();
                    this.message = 'Project is updated !';
                    this.showMessage = true;
                    console.log(response);
                    this.$refs.editProjectModal.hide();
                })
        },

        initForm() {
            this.editForm.id = ''
            this.editForm.project_name = '';
            this.editForm.user = '';
            this.editForm.description = '';
            this.editForm.start_date = '';
            this.editForm.end_date = '';
            this.editForm.project_manager = '';
            this.editForm.business_analysis = '';
            this.editForm.status = '';
        },
    }
}
</script>
