<template>
<div>
    <alert :style="{textAlign:'left'}" :message="message" v-if="showMessage"></alert>
    <h1>Servity Setting</h1>

    <!-- Add Servity Button -->
    <div :style="{margin:'20px'}">
        <b-button variant="success" v-b-modal.servity-modal>Add New Servity</b-button>
        <b-button href="/Report/Servity/OpenServity">Open Defect by Servity</b-button>
    </div>

    <!-- Display Servity Data -->
    <b-table :fields="fields" :items="items">
        <template v-slot:cell(actions)="row">
            <b-button size="sm" variant="warning" v-b-modal.edit-servity-modal @click="editServity(row.item)">
                Edit
            </b-button>
            <b-button size="sm" variant="danger" @click="onDeleteServity(row.item)">
                Delete
            </b-button>
        </template>
    </b-table>

    <!-- Add Servity with Modal -->
    <b-modal ref="addServityModal" id="servity-modal" title="Add New Servity" size="lg" hide-footer>
        <b-form @submit="addServity" @reset="onReset">
            <b-form-group id="form-servity-group" label="Servity Name" label-for="form-servity-input">
                <b-form-input v-model="AddServity.servity_name" id="form-servity-input" type="text" placeholder="Enter your servity name" required>
                </b-form-input>
            </b-form-group>
            <b-button variant="primary" type="submit">Submit</b-button>
            <b-button type="reset" variant="danger">Reset</b-button>
        </b-form>
    </b-modal>

    <!-- Add Servity with Modal -->
    <b-modal ref="editServityModal" id="edit-servity-modal" title="Edit Servity" size="lg" hide-footer>
        <b-form @submit="updateServity" @reset="onResetUpdate">
            <b-form-group id="form-servity-edit" label="Servity Name" label-for="form-servity-edit">
                <b-form-input v-model="EditServity.servity_name" id="form-servity-edit" type="text" placeholder="Enter your servity name" required>
                </b-form-input>
            </b-form-group>
            <b-button variant="primary" type="submit">Submit</b-button>
            <b-button type="reset" variant="danger">Reset</b-button>
        </b-form>
    </b-modal>

</div>
</template>

<script>
import ProjectService from '@/services/ProjectService'

export default {
    layout: 'LayoutWithSubNavbar',

    data() {
        return {
            message: '',
            showMessage: false,

            items: [],
            fields: [{
                    key: 'servity_name',
                    label: 'Servity Name',
                    sortable: true,
                    sortDirection: 'desc'
                },
                {
                    key: 'actions',
                    label: 'Actions'
                }
            ],

            AddServity: {
                servity_name: ''
            },
            EditServity: {
                id: '',
                servity_name: ''
            }
        }
    },

    created() {
        this.listdata()
    },

    methods: {
        //listdata
        listdata() {
            ProjectService.getAllServity()
                .then(response => {
                    this.items = response.data.Servity
                    console.log(this.items);
                })
                .catch(error => {
                    console.log(error);
                })
        },

        //adddata
        addServity(e) {
            e.preventDefault()
            const servity_name = this.AddServity.servity_name

            ProjectService.addServity({
                    servity_name
                })
                .then(response => {
                    this.listdata();
                    this.message = 'Servity is added !';
                    this.showMessage = true;
                    console.log(response);
                    this.$refs.addServityModal.hide();
                })
                .catch(error => {
                    console.log(error);
                })
        },
        initForm() {
            this.AddServity.servity_name = '';
            this.EditServity.servity_name = '';
        },
        onSubmit(e) {
            e.preventDefault()
            this.$refs.addServityModal.hide()
            this.addServity()
            this.initForm()
        },
        onReset(e) {
            e.preventDefault()
            this.$refs.addServityModal.hide()
            this.initForm()
        },

        // function edit data
        editServity(item) {
            this.EditServity = item;
            console.log(this.EditServity);
        },
        onSubmitUpdate(e) {
            e.preventDefault();
            this.$refs.editServityModal.hide()
            this.updateServity(e)
        },
        onResetUpdate(e) {
            e.preventDefault();
            this.$refs.editServityModal.hide();
            this.initForm();
            this.listdata();
        },
        updateServity(e) {
            e.preventDefault();

            const id = this.EditServity.id;
            const servity_name = this.EditServity.servity_name

            ProjectService.updateServity(id, {
                    id,
                    servity_name,
                })
                .then(response => {
                    this.listdata();
                    this.message = 'Servity is updated !';
                    this.showMessage = true;
                    console.log(response);
                    this.$refs.editServityModal.hide();
                })
        },

        // function delete data
        deleteServity(item) {
            if (confirm("Do you want to delete ?")) {
                ProjectService.deleteServity(item.id)
                    .then(response => {
                        this.message = 'Servity is removed'
                        this.showMessage = true
                        this.listdata()
                    })
            }
        },
        onDeleteServity(item) {
            this.deleteServity(item)
        }
    }
}
</script>

<style>

</style>
