<template>
<div>
    <alert :style="{textAlign:'left'}" :message="message" v-if="showMessage"></alert>
    <h1>Opening Defect by Severity</h1>

    <!-- Add Servity Button -->
    <div :style="{margin:'20px'}">
        <b-button variant="success" v-b-modal.servity-in-graph>Add Servity in Graph</b-button>
    </div>

    <b-table :fields="fields" :items="servityInGraph">
        <template v-slot:cell(amount)="data">
            <b-form-input v-model="data.item.amount" v-on:change="fillData"></b-form-input>
        </template>
        <template v-slot:cell(actions)="data">
            <b-button size="sm" variant="danger" @click="deleteServity(data.item.id)">
                Delete
            </b-button>
        </template>
    </b-table>

    <div class="small">
        <BarChart :chart-data='datacollection' />
    </div>

    <!-- Add feature to TEP -->
    <b-modal ref="AddServityInGraph" id="servity-in-graph" title="Add Servity in Graph" size="lg" hide-footer>
        <b-form @submit="addServityinGraph" @reset="onReset">
            <b-form-group label="Servity">
                <b-form-select v-model="AddServity.servity_id" :options="servityList">
                    <template v-slot:first>
                        <b-form-select-option value="" disabled>--- Please select Servity in Graph ---</b-form-select-option>
                    </template>
                </b-form-select>
            </b-form-group>
            <b-button type="submit" variant="primary">Add Servity to Graph</b-button>
            <b-button type="reset" variant="danger">Cancel</b-button>
        </b-form>
    </b-modal>

</div>
</template>

<script>
import ProjectService from '@/services/ProjectService'
import Chart from 'chart.js'
import BarChart from '@/components/BarChart.js'

export default {
    layout: 'LayoutWithSubNavbar',
    components: {
        BarChart
    },

    data() {
        return {
            message: '',
            showMessage: false,

            datacollection: null,

            servityList: [],
            servityInGraph: [],
            servityMap: {},

            AddServity: {
                servity_id: null,
            },

            fields: [{
                    key: 'servity_name',
                    label: 'Servity Name',
                },
                {
                    key: 'amount',
                    label: 'Amount'
                },
                {
                    key: 'actions',
                    label: 'Actions'
                }
            ],

        }
    },

    created() {
        this.listServity()
    },

    mounted() {
        this.fillData()
    },

    methods: {
        fillData() {
            this.datacollection = {
                ...this.datacollection,
            };
            this.datacollection.labels = [];
            this.datacollection.datasets[0].data = [];
            this.servityInGraph.forEach((ser) => {
                this.datacollection.labels.push(ser.servity_name);
                this.datacollection.datasets[0].data.push(ser.amount);
            });
        },

        listServity() {
            this.datacollection = {

                labels: [],
                datasets: [{
                    label: 'Amount in Graph',
                    backgroundColor: 'rgba(255, 0, 0, 0.2)',
                    borderColor: ' lightblue',
                    hoverBackgroundColor: 'pink',
                    borderWidth: 1,
                    hoverBorderColor: 'black',
                    data: [],
                }]
            }
            ProjectService.getAllServity()
                .then(response => {
                    response.data.Servity.forEach((ser) => {
                        this.servityMap[ser.id] = ser;
                        if (ser.amount === null) ser.amount = 0;
                    });
                    const servityList = response.data.Servity.map(servity => {
                            return {
                                value: servity.id,
                                text: `${servity.servity_name}`
                            }
                        })
                        .filter((item) => {
                            let result = true;
                            for (let servity of this.servityInGraph) {
                                if (item.value == servity.id) {
                                    result = false;
                                    break;
                                }
                            }
                            return result;
                        })
                    this.servityList = servityList
                })
                .catch(error => {
                    console.log(error);
                })
        },

        addServityinGraph(e) {
            e.preventDefault();
            if (this.AddServity.servity_id !== null) {
                this.servityInGraph.push(this.servityMap[this.AddServity.servity_id]);
                this.message = 'Servity is add in Graph !'
                this.showMessage = true;
            }
            this.$refs.AddServityInGraph.hide();
            this.AddServity.servity_id = null
            this.listServity();
            this.fillData();
        },
        initForm() {
            this.AddServity.servity_id = '';
        },
        onReset(e) {
            e.preventDefault();
            this.$refs.AddServityInGraph.hide()
            this.initForm()
        },

        deleteServity(id) {

            if (confirm("Do you want to delete ?")) {
                this.servityInGraph = this.servityInGraph.filter((item) => item.id !== id);
                console.log(this.servityInGraph);
                this.message = 'Servity is deleted in Graph !'
                this.showMessage = true;
            }

            this.listServity();
            this.fillData();
        }

    }
}
</script>

<style scoped>
.small {
    max-width: 600px;
    margin: 150px auto;
}
</style>>
