<template>
<div>
    <alert :style="{textAlign:'left'}" :message="message" v-if="showMessage"></alert>
    <h1>Priority Setting</h1>

    <!-- Add Priority Button -->
    <div :style="{margin:'20px'}">
        <b-button variant="success" v-b-modal.priority-modal>Add New Priority</b-button>
        <b-button href="/Report/Priority/OpenPriority">Open Defect by Priority</b-button>
    </div>

    <!-- Display Priority Data -->
    <b-table :fields="fields" :items="items">
        <template v-slot:cell(actions)="row">
            <b-button size="sm" variant="warning" v-b-modal.edit-priority-modal @click="editPriority(row.item)">
                Edit
            </b-button>
            <b-button size="sm" variant="danger" @click="onDeletePriority(row.item)">
                Delete
            </b-button>
        </template>
    </b-table>

    <!-- Add Priority with Modal -->
    <b-modal ref="addPriorityModal" id="priority-modal" title="Add New Priority" size="lg" hide-footer>
        <b-form @submit="addPriority" @reset="onReset">
            <b-form-group id="form-priority-group" label="Priority Name" label-for="form-priority-input">
                <b-form-input v-model="AddPriority.priority_name" id="form-priority-input" type="text" placeholder="Enter your priority name" required>
                </b-form-input>
            </b-form-group>
            <b-button variant="primary" type="submit">Submit</b-button>
            <b-button type="reset" variant="danger">Reset</b-button>
        </b-form>
    </b-modal>

    <!-- Edit Priority with Modal -->
    <b-modal ref="editPriorityModal" id="edit-priority-modal" title="Edit Priority" size="lg" hide-footer>
        <b-form @submit="updatePriority" @reset="onResetUpdate">
            <b-form-group id="form-priority-edit" label="Priority Name" label-for="form-priority-edit">
                <b-form-input v-model="EditPriority.priority_name" id="form-priority-edit" type="text" placeholder="Enter your priority name" required>
                </b-form-input>
            </b-form-group>
            <b-button variant="primary" type="submit">Update</b-button>
            <b-button type="reset" variant="danger">Reset</b-button>
        </b-form>
    </b-modal>

</div>
</template>

<script>
import ProjectService from '@/services/ProjectService'

export default {
    layout: 'LayoutWithSubNavbar',

    data() {
        return {
            message: '',
            showMessage: false,

            items: [],
            fields: [{
                    key: 'priority_name',
                    label: 'Priority Name',
                },
                {
                    key: 'actions',
                    label: 'Actions'
                }
            ],

            AddPriority: {
                priority_name: ''
            },
            EditPriority: {
                id: '',
                priority_name: ''
            }
        }
    },

    created() {
        this.listdata()
    },

    methods: {
        //listdata
        listdata() {
            ProjectService.getAllPriority()
                .then(response => {
                    this.items = response.data.priority
                    console.log(this.items);
                })
                .catch(error => {
                    console.log(error);
                })
        },

        //adddata
        addPriority(e) {
            e.preventDefault()
            const priority_name = this.AddPriority.priority_name

            ProjectService.addPriority({
                    priority_name
                })
                .then(response => {
                    this.listdata();
                    this.message = 'Priority is added !';
                    this.showMessage = true;
                    console.log(response);
                    this.$refs.addPriorityModal.hide();
                })
                .catch(error => {
                    console.log(error);
                })
        },
        initForm() {
            this.AddPriority.priority_name = '';
            this.EditPriority.priority_name = '';
        },
        onSubmit(e) {
            e.preventDefault()
            this.$refs.addPriorityModal.hide()
            this.addPriority()
            this.initForm()
        },
        onReset(e) {
            e.preventDefault()
            this.$refs.addPriorityModal.hide()
            this.initForm()
        },

        // function edit data
        editPriority(item) {
            this.EditPriority = item;
            console.log(this.EditPriority);
        },
        onSubmitUpdate(e) {
            e.preventDefault();
            this.$refs.editPriorityModal.hide()
            this.updatePriority(e)
        },
        onResetUpdate(e) {
            e.preventDefault();
            this.$refs.editPrioritytModal.hide();
            this.initForm();
            this.listdata();
        },
        updatePriority(e) {
            e.preventDefault();

            const id = this.EditPriority.id;
            const priority_name = this.EditPriority.priority_name

            ProjectService.updatePriority(id, {
                    id,
                    priority_name,
                })
                .then(response => {
                    this.listdata();
                    this.message = 'Priority is updated !';
                    this.showMessage = true;
                    console.log(response);
                    this.$refs.editPriorityModal.hide();
                })
        },

        // function delete data
        deletePriority(item) {
            if (confirm("Do you want to delete ?")) {
                ProjectService.deletePriority(item.id)
                    .then(response => {
                        this.message = 'Priority is removed'
                        this.showMessage = true
                        this.listdata()
                    })
            }
        },
        onDeletePriority(item) {
            this.deletePriority(item)
        }
    }
}
</script>

<style>

</style>
