<template>
<div>
    <alert :style="{textAlign:'left'}" :message="message" v-if="showMessage"></alert>
    <h1>Opening Defect by Priority</h1>

    <!-- Add Priority Button -->
    <div :style="{margin:'20px'}">
        <b-button variant="success" v-b-modal.priority-in-graph>Add Priority in Graph</b-button>
    </div>

    <b-table :fields="fields" :items="priorityInGraph">
        <template v-slot:cell(amount)="data">
            <b-form-input v-model="data.item.amount" v-on:change="fillData"></b-form-input>
        </template>
        <template v-slot:cell(actions)="data">
            <b-button size="sm" variant="danger" @click="deletePriority(data.item.id)">
                Delete
            </b-button>
        </template>
    </b-table>

    <div class="small">
        <BarChart :chart-data='datacollection' />
    </div>

    <!-- Add priority in graph -->
    <b-modal ref="AddPriorityInGraph" id="priority-in-graph" title="Add Priority in Graph" size="lg" hide-footer>
        <b-form @submit="addPriorityinGraph" @reset="onReset">
            <b-form-group label="Priority">
                <b-form-select v-model="AddPriority.priority_id" :options="priorityList">
                    <template v-slot:first>
                        <b-form-select-option value="" disabled>--- Please select Priority in Graph ---</b-form-select-option>
                    </template>
                </b-form-select>
            </b-form-group>
            <b-button type="submit" variant="primary">Add Priority to Graph</b-button>
            <b-button type="reset" variant="danger">Cancel</b-button>
        </b-form>
    </b-modal>

</div>
</template>

<script>
import ProjectService from '@/services/ProjectService'
import Chart from 'chart.js'
import BarChart from '@/components/BarChart.js'

export default {
    layout: 'LayoutWithSubNavbar',
    components: {
        BarChart
    },

    data() {
        return {

            datacollection: null,
            loaded: false,

            message: '',
            showMessage: false,

            priorityList: [],
            priorityMap: {},
            priorityInGraph: [],

            AddPriority: {
                priority_id: null,
            },

            fields: [{
                    key: 'priority_name',
                    label: 'Priority Name',
                },
                {
                    key: 'amount',
                    label: 'Amount'
                },
                {
                    key: 'actions',
                    label: 'Actions'
                }
            ],
        };

    },

    created() {
        this.listPriority()
    },

    mounted() {
        this.fillData();
    },

    methods: {

        fillData() {
            this.datacollection = {
                ...this.datacollection,
            };
            this.datacollection.labels = [];
            this.datacollection.datasets[0].data = [];
            this.priorityInGraph.forEach((pri) => {
                this.datacollection.labels.push(pri.priority_name);
                this.datacollection.datasets[0].data.push(pri.amount);
            });
        },

        listPriority() {
            this.datacollection = {

                labels: [],
                datasets: [{
                    label: 'Amount in Graph',
                    backgroundColor: 'rgba(255, 0, 0, 0.2)',
                    borderColor: ' lightblue',
                    hoverBackgroundColor: 'pink',
                    borderWidth: 1,
                    hoverBorderColor: 'black',
                    data: [],
                }]
            }
            ProjectService.getAllPriority()
                .then(response => {
                    response.data.prioritys.forEach((pri) => {
                        this.priorityMap[pri.id] = pri;
                        if (pri.amount === null) pri.amount = 0;
                    });
                    const priorityList = response.data.prioritys.map(priority => {
                            return {
                                value: priority.id,
                                text: `${priority.priority_name}`,
                            }
                        })
                        .filter((item) => {
                            let result = true;
                            for (let priority of this.priorityInGraph) {
                                if (item.value == priority.id) {
                                    result = false;
                                    break;
                                }
                            }
                            return result;
                        })
                    this.priorityList = priorityList
                })
                .catch(error => {
                    console.log(error);
                })
        },

        addPriorityinGraph(e) {
            e.preventDefault();
            if (this.AddPriority.priority_id !== null) {
                this.priorityInGraph.push(this.priorityMap[this.AddPriority.priority_id]);
                this.message = 'Priority is add in Graph !';
                this.showMessage = true;
            }
            this.$refs.AddPriorityInGraph.hide();
            this.AddPriority.priority_id = null;
            this.listPriority();
            this.fillData();
        },
        initForm() {
            this.AddPriority.priority_id = '';
        },
        onReset(e) {
            e.preventDefault();
            this.$refs.AddPriorityInGraph.hide()
            this.initForm()
        },

        deletePriority(id) {

            if (confirm("Do you want to delete ?")) {
                this.priorityInGraph = this.priorityInGraph.filter((item) => item.id !== id);
                console.log(this.priorityInGraph);
                this.message = 'Priority is deleted in Graph !'
                this.showMessage = true;
            }

            this.listPriority();
            this.fillData();
        }
    }
}
</script>

<style scoped>
.small {
    max-width: 600px;
    margin: 150px auto;
}
</style>>
