<template>
<div>
    <SubNavbar />
    <div class="App11">
        <div class="App_FormHome">
            <div class="FormField">
                <div class="FormField__Label">
                    <nuxt />
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import SubNavbar from '../components/SubNavbar'
export default {
    components: {
        SubNavbar
    }
}
</script>

<style lang="css" scoped>
.App_FormHome {
    width: 100%;
    /* background-color: #2e4158; */
    padding: 25px 40px;
    overflow: auto;

    text-align: center;
}

.FormField {
    margin-bottom: 40px;
}

.FormField__Label {
    display: block;
    font-size: 1em;
    color: black;
    text-transform: capitalize
}

.container {
    margin: 0 auto;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
}

.App11 {
    height: 100vh;
    display: flex;
}

.background {
    width: 100%;
    background-color: #66dac7;
    align-items: center;
}
</style>
