<template>
<div class="Background">
    <div class="App_Left">
    </div>

    <div class="App_Right">
        <div class="PageSwitcher">
            <nuxt-link to="/Login" activeClass="PageSwitcher__Item--Active" class="PageSwitcher__Item">
                Login
            </nuxt-link>

            <nuxt-link to="/Register" class="PageSwitcher__Item">
                Register
            </nuxt-link>
        </div>

        <div class="FormTitle">
            <nuxt-link to="/Login" activeClass="FormTitle__Link --Active" class="FormTitle__Link ">
                Login
            </nuxt-link>
            or
            <nuxt-link to="/Register" class="FormTitle__Link ">
                Register
            </nuxt-link>
        </div>

        <div class="FormCenter">
            <nuxt />
        </div>
    </div>
</div>
</template>

<script>
export default {}
</script>

<style>
.Background {
    height: 100vh;
    display: flex;
    color: white;
}

.App_Left {
    width: 50%;
    background-color: #66dac7;
}

.App_Right {
    width: 50%;
    background-color: #2e4158;
    padding: 25px 40px;
    overflow: auto;
}

.PageSwitcher {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10%;
}

.PageSwitcher__Item {
    background-color: #4C5D72;
    color: #9DA6B1;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 1.2em;
    border: none;
    outline: none;
    display: inline-block;
    text-decoration: none;
}

.PageSwitcher__Item--Active {
    background-color: #5ED0C0;
    color: white;
}

.FormTitle {
    color: #707C8B;
    font-weight: 300;
    margin-bottom: 50px;
}

.FormTitle__Link {
    color: #707C8B;
    text-decoration: none;
    display: inline-block;
    font-size: 1.7em;
    margin: 0 10px;
    padding-bottom: 5px;
}

.FormTitle__Link--Active {
    color: white;
    border-bottom: 1px solid #199087;
}

.FormCenter {
    margin-bottom: 100px;
}

.FormField {
    margin-bottom: 40px;
}

.FormField__Label {
    display: block;
    text-transform: uppercase;
    font-size: 1em;
    color: white;
}

.FormField__Input {
    width: 85%;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    border-bottom: 1px solid #445366;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 10px;
    margin-top: 10px;
}

.FormField__Button {
    background-color: #52C4B9;
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px 70px;
    font-size: .8em;
    font-weight: 500;
}

.FormField__Link {
    color: #66707D;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1.5px solid #225E62;
    padding-bottom: 5px;
}
</style>
