<template>
<div>
    <div :style="{textAlign:'left'}">
        <h1>Add feature to test execution plan</h1>
        <h2>Name : </h2>
    </div>

    <b-table hover :items="testcase" :fields="fieldtestcase" selectable @row-selected="onRowSelected">
        <template v-slot:cell(selected)="{rowSelected}">
            <template v-if="rowSelected">
                <span aria-hidden="true">&check;</span>
                <span class="sr-only">Selected</span>
            </template>
            <template v-else>
                <span aria-hidden="true">&nbsp;</span>
                <span class="sr-only">Not selected</span>
            </template>
        </template>
    </b-table>

    <b-button v-on:click="addTestcaseToFfeature" variant="success">Add to TEP</b-button>
    <b-button variant="danger">Cancel</b-button>

</div>
</template>

<script>

import ProjectService from '@/services/ProjectService'

export default {
    layout: 'LayoutWithSubNavbar',
    data() {
        return {

            selected: [],
            testcase: [],
            fieldfeature: [{
                key: 'project_name',
                label: 'Feature name',
            }],
            fieldtestcase: [
                'selected',
                {
                    key: 'testCase_name',
                    label: 'Test Case name',
                },
                {
                    key: 'test_type',
                    label: 'Type',
                },
                {
                    key: 'test_type',
                    label: 'Type',
                },
                {
                    key: 'status',
                    label: 'Status',
                }
            ],
            addTestCase: {
                test_case_id: null
            },
        }
    },

    created() {
        this.listdata();
    },

    methods: {
        onRowSelected(items) {
            this.selected = items
            console.log(this.selected);
        },
        listdata() {
            ProjectService.getAllTestcaseToTep(this.$route.query.project_id, this.$route.query.id, this.$route.query.tep_id)
                .then(response1 => {
                    ProjectService.getAllTestcase(this.$route.query.project_id, this.$route.query.id)
                        .then(response2 => {
                            const allTestCases = response2.data.testCase;
                            const tepTestCases = response1.data.TestCase;
                            this.testcase = allTestCases.filter((testCase) => {
                                let result = true;
                                for (let tepTestCase of tepTestCases) {
                                    if (testCase.id == tepTestCase.test_cases_id) {
                                        result = false;
                                        break;
                                    }
                                }

                                return result;
                            })
                        })
                })
        },

        addTestcaseToFfeature(e) {
            e.preventDefault()

            ProjectService.addTestcaseToFeature(this.$route.query.project_id, this.$route.query.id, this.$route.query.tep_id, {
                    testcases_id: this.selected.map(testCase => testCase.id)
                })
                .then(response => {
                    console.log(this.selected);
                })
        }
    }
}
</script>
