<template>
<div>
    <alert :style="{textAlign:'left'}" :message="message" v-if="showMessage"></alert>
    <h1 :style="{textAlign:'left'}">Test Execution Plan Name : {{this.detailTep.tep_name}}</h1>

    <!-- Display function Sort in featurelist -->
    <div :style="{marginTop:'30px'}">
        <b-form-group label="Filter" label-cols-sm="6" label-align-sm="right" label-for="filterInput">
            <b-input-group>
                <b-form-input v-model="filter" type="search" placeholder="Type to Search"></b-form-input>
                <b-input-group-append>
                    <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                </b-input-group-append>
            </b-input-group>
        </b-form-group>

        <b-form-group label="Sort" label-cols-sm="6" label-align-sm="right" label-for="sortBySelect">
            <b-input-group>
                <b-form-select v-model="sortBy" :options="sortOptions">
                    <template v-slot:first>
                        <option value="">---</option>
                    </template>
                </b-form-select>
                <b-form-select v-model="sortDesc" :disabled="!sortBy">
                    <option :value="false">Asc</option>
                    <option :value="true">Desc</option>
                </b-form-select>
            </b-input-group>
        </b-form-group>

        <b-row>
            <b-col sm="5" md="6">
                <b-form-group label="Per Page" label-cols-sm="6" label-cols-md="4" label-cols-lg="3" label-align-sm="right" label-size="sm" label-for="perPageSelect">
                    <b-form-select v-model="perPage" size="sm" :options="pageOptions"></b-form-select>
                </b-form-group>
            </b-col>

            <b-col sm="7" md="6">
                <b-pagination v-model="currentPage" :total-rows="totalRows" :per-page="perPage" size="sm" align="fill"></b-pagination>
            </b-col>
        </b-row>
    </div>

    <!-- Add Feature Button -->
    <div :style="{textAlign:'right',marginBottom:'20px'}">
        <b-button variant="success" v-b-modal.feature-to-tep>Add Feature Deirectly</b-button>
    </div>

    <!-- Display data featurelist -->
    <b-table :items="featureInTEP" :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filter" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc">
        <template v-slot:cell(actions)="row">
            <nuxt-link :to="{name:'TepDetail', query:{ id:row.item.feature_id , project_id:project_id , tep_id:tep_id }}">
                <b-button size="sm" variant="primary">
                    View
                </b-button>
            </nuxt-link>

            <!-- <nuxt-link :to="{name:'AddFeatureDirectly', query:{ id:row.item.feature_id , project_id:project_id , tep_id:tep_id }}">
                <b-button size="sm" variant="success">Add TestCase</b-button>
            </nuxt-link> -->

            <b-button size="sm" variant="danger" @click="onDeleteFeatureTEP(row.item)">
                Delete
            </b-button>
        </template>
    </b-table>

    <!-- Add feature to TEP -->
    <b-modal ref="AddFeatureToTEP" id="feature-to-tep" title="Add Feature To TEP" size="lg" hide-footer>
        <b-form @submit="addFeaturetoTEP" @reset="onReset">

            <b-form-group label="Feature">
                <b-form-select v-model="addFeature.feature_id" :options="featurelist">
                    <template v-slot:first>
                        <b-form-select-option value="" disabled>--- Please select Feature to TEP ---</b-form-select-option>
                    </template>
                </b-form-select>
            </b-form-group>

            <b-button type="submit" variant="primary">Add Feature to TEP</b-button>
            <b-button type="reset" variant="danger">Cancel</b-button>

        </b-form>
    </b-modal>

</div>
</template>

<script>
import ProjectService from '@/services/ProjectService'

export default {
    layout: 'LayoutWithSubNavbar',
    data() {
        return {
            message: '',
            showMessage: false,
            featurelist: [],

            detailTep: [],
            featureInTEP: [],

            addFeature: {
                project_id: parseInt(this.$route.query.project_id),
                feature_id: null,
                tep_id: parseInt(this.$route.query.id),
            },

            fields: [{
                    key: 'feature_name',
                    label: 'Feature name',
                    sortable: true,
                    sortDirection: 'desc'
                },
                {
                    key: 'updated_at',
                    label: 'Updated Date',
                    sortable: true,
                    sortDirection: 'desc'
                },
                {
                    key: 'amount',
                    label: 'Test Case Amount',
                    sortable: true,
                    sortDirection: 'desc'
                },
                {
                    key: 'actions',
                    label: 'Actions'
                }
            ],
            totalRows: 1,
            currentPage: 1,
            perPage: 5,
            pageOptions: [5, 10, 15],
            sortBy: '',
            sortDesc: false,
            sortDirection: 'asc',
            filter: null,
            filterOn: [],
            items: []
        }
    },

    computed: {
        sortOptions() {
            return this.fields
                .filter(f => f.sortable)
                .map(f => {
                    return {
                        text: f.label,
                        value: f.key
                    }
                })
        }
    },

    mounted() {
        this.totalRows = this.featureInTEP.length
    },

    created() {
        this.listdata()
        this.listFeatureToTEP()
    },

    methods: {
        onFiltered(filterdItems) {
            this.totalRows = filterdItems.length
            this.currentPage = 1
        },
        listdata() {
            ProjectService.getAllfeatureinTEP(this.$route.query.project_id, this.$route.query.id)
                .then(response => {

                    this.featureInTEP = response.data.feature.map((feature) => {
                        feature.amount = 0;
                        for (let amountItem of response.data.amount) {
                            if (amountItem.feature_id == feature.feature_id) {
                                feature.amount = amountItem['count(`test_cases_id`)'];
                                break;
                            }
                        }

                        return feature;
                    })
                    this.detailTep = response.data.test_execution_plans
                    this.listFeatureToTEP()
                })
            this.project_id = parseInt(this.$route.query.project_id)
            this.tep_id = parseInt(this.$route.query.id)
        },

        listFeatureToTEP() {
            ProjectService.getAllFeature(this.$route.query.project_id)
                .then(response => {
                    const featurelist = response.data.feature
                    .filter(feature => feature.status === 'Active')
                    .map(feature => {
                            return {
                                value: feature.id,
                                text: `${feature.feature_name}`
                            }
                        })
                        .filter((item) => {
                            let result = true;
                            for (let feature of this.featureInTEP) {
                                if (item.value == feature.feature_id) {
                                    result = false;
                                    break;
                                }
                            }
                            return result;
                        })
                    this.featurelist = featurelist
                })
                .catch(error => {
                    console.log(error);
                })
        },

        addFeaturetoTEP(e) {
            e.preventDefault();
            ProjectService.addFeatureinTeP(this.$route.query.project_id, this.$route.query.id, {
                    feature_id: [this.addFeature.feature_id],
                    tep_id: this.addFeature.tep_id
                })
                .then(response => {
                    console.log(this.$route.query.project_id);
                    this.message = 'Feature is add to TEP !';
                    this.showMessage = true;
                    this.$refs.AddFeatureToTEP.hide();
                    this.listdata();
                })
        },
        initForm() {
            this.addFeature.feature_id = '';
        },
        onReset(e) {
            e.preventDefault()
            this.$refs.AddFeatureToTEP.hide()
            this.initForm()
        },

        // function delete data
        deleteFeatureTEP(item) {
            const project_id = this.$route.query.project_id
            const tep_id = this.$route.query.id

            if (confirm("Do you want to delete ?")) {
                ProjectService.deleteFeatureinTEP(project_id, tep_id, item.feature_id)
                    .then(response => {
                        this.message = 'Feature in TEP is removed'
                        this.showMessage = true
                        this.listdata()
                    })
            }
        },
        onDeleteFeatureTEP(item) {
            this.deleteFeatureTEP(item)
        }
    }
}
</script>
