<template>
<div>
    <h1>Edit Profile</h1>

    <div>
        <b-card>
            <div :style="{textAlign:'Left'}">
                <form @submit="updateUser">
                    <div :style="{margin:'20px'}">
                        <h3>Email : </h3>
                        <b-form-input v-model="email" id="form-profile-input" type="text">
                        </b-form-input>
                    </div>

                    <div :style="{margin:'20px'}">
                        <h3>Username : </h3>
                        <b-form-input v-model="username" id="form-profile-input" type="text">
                        </b-form-input>
                    </div>

                    <div :style="{margin:'20px'}">
                        <h3>First Name : </h3>
                        <b-form-input v-model="firstname" id="form-profile-input" type="text">
                        </b-form-input>
                    </div>

                    <div :style="{margin:'20px'}">
                        <h3>Last Name : </h3>
                        <b-form-input v-model="lastname" id="form-profile-input" type="text">
                        </b-form-input>
                    </div>

                    <div :style="{marginTop:'20px', marginLeft:'20px'}">
                        <b-button variant="primary" type="submit">Update Profile</b-button>
                    </div>

                </form>
            </div>
        </b-card>
    </div>
</div>
</template>

<script>
import UserService from '@/services/UserService'
import axios from 'axios'

export default {
    layout: 'LayoutWithSubNavbar',

    data() {
        return {
            email: '',
            username: '',
            firstname: '',
            lastname: '',
        }
    },

    created() {
        this.getUser()
    },

    computed: {
        user() {
            return this.$store.getters.user
        }
    },

    methods: {
        getUser() {
            const token = localStorage.getItem('access_token')
            const id = this.user.id
            axios
                .get(`http://127.0.0.1:3333/user/${id}`, {
                    headers: {
                        Authorization: `Bearer ${token}`
                    }
                })
                .then(response => {
                    this.email = response.data.user.email
                    this.username = response.data.user.username
                    this.firstname = response.data.user.firstname
                    this.lastname = response.data.user.lastname
                })
        },

        updateUser(e) {
            e.preventDefault();

            const token = localStorage.getItem('access_token')
            const id = this.user.id
            const email = this.email
            const username = this.username
            const firstname = this.firstname
            const lastname = this.lastname

            axios
                .put(`http://127.0.0.1:3333/user/${id}`, {
                    email,
                    username,
                    firstname,
                    lastname
                }, {
                    headers: {
                        Authorization: `Bearer ${token}`
                    }
                })
                .then(response => {
                    this.getUser()
                })
        }
    }
}
</script>
