<template>
<div>
    <form @submit="login">
        <div class="FormField">
            <label class="FormField__Label">
                Email :
            </label>
            <input v-model="email" required type="email" class="FormField__Input" placeholder="Enter your email" />
        </div>

        <div class="FormField">
            <label class="FormField__Label">
                Password :
            </label>
            <input v-model="password" required type="password" class="FormField__Input" placeholder="Enter your password" />
        </div>

        <div class="FormField">
            <b-button class="FormField__Button mr-20" type="submit"> Submit </b-button>
            &nbsp;&nbsp;
            <a class="FormField__Link">Create an accout</a>
        </div>
    </form>

    <div v-show="error">
        <b-alert show variant="danger">Invalid email & password</b-alert>
    </div>

</div>
</template>

<script>
import AuthenService from '@/services/AuthenService'

export default {
    layout: 'loginandregister',

    data() {
        return {
            email: '',
            password: '',
            error: null
        }
    },

    methods: {
        login(e) {
            e.preventDefault();
            const email = this.email
            const password = this.password
            this.$store.dispatch('login', {
                    email,
                    password
                })
                .then((response) => {
                    if (response.data.user.role == 'Admin') {
                        this.$router.replace('/Admin/Project')
                    } else {
                        this.$router.replace('/User/Project')
                    }
                })
                .catch(error => {
                    this.error = true;
                })
        }

        // async login(e){
        //     e.preventDefault()
        //     try{
        //         const response = await AuthenService.login({
        //             email: this.email,
        //             password: this.password
        //         })

        //         this.$store.dispatch('setToken', response.data.access_token.token)
        //         this.$store.dispatch('setUser',response.data.user)

        //         if(response.data.user.role == 'Admin'){
        //             this.$router.replace('/Admin/Project')
        //         } else {
        //             this.$router.replace('/User/Project')
        //         }

        //         console.log(response);

        //     } catch(error){
        //         console.log(error);

        //     }
        // }
    }
}
</script>

<style>
.App11 {
    height: 100vh;
    display: flex;
    color: white;
}

.FormField {
    margin-bottom: 40px;
}

.FormField__Label {
    display: block;
    text-transform: uppercase;
    font-size: 1em;
    color: white;
}

.FormField__Input {
    width: 85%;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    border-bottom: 1px solid #445366;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 10px;
    margin-top: 10px;
}

.FormField__Button {
    background-color: #52C4B9;
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px 70px;
    font-size: .8em;
    font-weight: 500;
}

.FormField__Link {
    color: #66707D;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1.5px solid #225E62;
    padding-bottom: 5px;
}
</style>
