<template>
<div>
    <form @submit="register">
        <div class="FormField">
            <label class="FormField__Label">
                Username :
            </label>
            <input required v-model="username" type="text" class="FormField__Input" placeholder="Enter your username" />
        </div>

        <div class="FormField">
            <label class="FormField__Label">
                Email :
            </label>
            <input required v-model="email" type="email" class="FormField__Input" placeholder="Enter your email" />
        </div>

        <div class="FormField">
            <label class="FormField__Label">
                Password :
            </label>
            <input required v-model="password" type="password" class="FormField__Input" placeholder="Enter your password" />
        </div>

        <div class="FormField">
            <label class="FormField__Label">
                Confirm Password :
            </label>
            <input required v-model="confirm_password" type="password" class="FormField__Input" placeholder="Enter your password" />
        </div>

        <div class="FormField">
            <label class="FormField__Label">
                First Name :
            </label>
            <input required v-model="firstname" type="text" class="FormField__Input" placeholder="Enter your firstname" />
        </div>

        <div class="FormField">
            <label class="FormField__Label">
                Last Name :
            </label>
            <input required v-model="lastname" type="text" class="FormField__Input" placeholder="Enter your lastname" />
        </div>

        <div class="FormField">
            <b-button class="FormField__Button mr-20" type="submit"> Submit </b-button>
            &nbsp;&nbsp;
            <a class="FormField__Link">Create an accout</a>
        </div>
    </form>
</div>
</template>

<script>

import AuthenService from '@/services/AuthenService'

export default {
    layout: 'loginandregister',

    data() {
        return {
            message: '',
            showMessage: false,

            username:'',
            email: '',
            password: '',
            confirm_password: '',
            firstname: '',
            lastname: ''
        }
    },
    methods: {

        register(e){
            e.preventDefault()

            AuthenService.register({
                username:this.username,
                email: this.email,
                password: this.password,
                confirm_password: this.confirm_password,
                firstname:this.firstname,
                lastname:this.lastname
            })
            .then(response => {
                // this.message = 'Register is success !';
                // this.showMessage = true;
                // this.$router.push('/')
                // console.log(response);
                if(confirm("Register is success")){
                    this.$router.push('/Login')
                }
            })
             .catch(err => console.log(err))
        },
    }

}

</script>