<template>
<div>
    <h1>Reset Password</h1>

    <div>
        <b-card>
            <div :style="{textAlign:'Left'}">
                
                    <div :style="{margin:'20px'}">
                        <h3>New Password : </h3>
                        <b-form-input v-model="password" id="form-profile-input" type="password">
                        </b-form-input>
                    </div>

                    <div :style="{margin:'20px'}">
                        <h3>Confirm Password : </h3>
                        <b-form-input v-model="confirmpassword" id="form-profile-input" type="password">
                        </b-form-input>
                    </div>

                    <div :style="{marginTop:'20px', marginLeft:'20px'}">
                        <b-button variant="primary" @click="resetPassword">Reset Password</b-button>
                    </div>

               
            </div>
        </b-card>
    </div>
</div>
</template>

<script>
import UserService from '@/services/UserService'
export default {
    layout: 'LayoutWithSubNavbar',

    data() {
        return {
            password: '',
            confirmpassword: '',
        }
    },

    computed: {
        user() {
            return this.$store.getters.user
        }
    },

    methods: {
        resetPassword(e) {
            e.preventDefault();
console.debug('xxxxx')
            const password = this.password
            const confirmpassword = this.confirmpassword

            UserService.ResetPassword(this.user.email, this.$route.query.token, {
                    newPassword: password,
                    confirm_password: confirmpassword
                })
                .then(response => {
                    console.log(response);
                })
        }
    }
}
</script>

<style>

</style>
