<template>
<div>
    <alert :style="{textAlign:'left'}" :message="message" v-if="showMessage"></alert>

    <div :style="{textAlign:'left'}">
        <alert :style="{textAlign:'left'}" :message="message" v-if="showMessage"></alert>
        <h1>Test Execution Plan Name : {{this.detailTep.tep_name}}</h1>
        <h2>Feature Name : {{this.detailFeature.feature_name}} </h2>
    </div>

    <!-- Display function Sort in featurelist -->
    <div :style="{marginTop:'20px'}">
        <b-form-group label="Filter" label-cols-sm="6" label-align-sm="right" label-for="filterInput">
            <b-input-group>
                <b-form-input v-model="filter" type="search" placeholder="Type to Search"></b-form-input>
                <b-input-group-append>
                    <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                </b-input-group-append>
            </b-input-group>
        </b-form-group>

        <b-form-group label="Sort" label-cols-sm="6" label-align-sm="right" label-for="sortBySelect">
            <b-input-group>
                <b-form-select v-model="sortBy" :options="sortOptions">
                    <template v-slot:first>
                        <option value="">---</option>
                    </template>
                </b-form-select>
                <b-form-select v-model="sortDesc" :disabled="!sortBy">
                    <option :value="false">Asc</option>
                    <option :value="true">Desc</option>
                </b-form-select>
            </b-input-group>
        </b-form-group>

        <b-row>
            <b-col sm="5" md="6">
                <b-form-group label="Per Page" label-cols-sm="6" label-cols-md="4" label-cols-lg="3" label-align-sm="right" label-size="sm" label-for="perPageSelect">
                    <b-form-select v-model="perPage" size="sm" :options="pageOptions"></b-form-select>
                </b-form-group>
            </b-col>

            <b-col sm="7" md="6">
                <b-pagination v-model="currentPage" :total-rows="totalRows" :per-page="perPage" size="sm" align="fill"></b-pagination>
            </b-col>
        </b-row>
    </div>

    <!-- Add Feature Button -->
    <div :style="{textAlign:'right',marginBottom:'20px'}">
        <b-button variant="success" v-b-modal.add-testcase-modal>Add Case Deirectly</b-button>
    </div>

    <!-- Display data featurelist -->
    <b-table :items="testcaseInTEP" :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filter" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc">
        <template v-slot:cell(actions)="row">
            <!-- <b-button size="sm" variant="primary">
                View
            </b-button> -->

            <!-- <b-button size="sm" variant="warning" v-b-modal.edit-testcase-tep @click="editResult(row.iem)">Edit</b-button> -->

            <b-button size="sm" variant="danger" @click="onDeleteTCinTEP(row.item)">
                Delete
            </b-button>
        </template>
    </b-table>

    <!-- Addd Test Case With Modal -->
    <b-modal ref="addTestcaseModal" id="add-testcase-modal" title="Add New Feature" size="lg" hide-footer>
        <b-form @submit="addTestcasetoTEP" @reset="onReset">
            <b-form-group label="Test Case">
                <b-form-select v-model="addTestcase.test_cases_id" :options="testcaseList">
                    <template v-slot:first>
                        <b-form-select-option value="" disabled>--- Please select Feature to TEP ---</b-form-select-option>
                    </template>
                </b-form-select>
            </b-form-group>

            <b-button type="submit" variant="primary">Add Test Case to TEP</b-button>
            <b-button type="reset" variant="danger">Cancel</b-button>
        </b-form>
    </b-modal>

    <!-- Edit Test Case in TEP -->
    <b-modal ref="editTestCase" id="edit-testcase-tep" title="Add Test Result" size="lg" hide-footer>
        <b-form @submit="onSubmitResult" @reset="onResetResult">
            <b-form-group label="Test Result">
                <b-form-select v-model="editForm.test_result_id" :options="testResult">
                    <template v-slot:first>
                        <b-form-select-option value="" disabled>--- Please select Test Result ---</b-form-select-option>
                    </template>
                </b-form-select>
            </b-form-group>

            <b-button type="submit" variant="primary">Add Test Case to TEP</b-button>
            <b-button type="reset" variant="danger">Cancel</b-button>
        </b-form>
    </b-modal>

</div>
</template>

<script>
import ProjectService from '@/services/ProjectService'

export default {
    layout: 'LayoutWithSubNavbar',
    data() {
        return {
            message: '',
            showMessage: false,

            testcaseList: [],
            testcaseInTEP: [],
            testResult: [],

            userItems: [],
            detailTep: [],
            detailFeature: [],

            testcaseType: [{
                    value: 'positive',
                    text: 'Positive'
                },
                {
                    value: 'negative',
                    text: 'Negative'
                },
                {
                    value: 'error',
                    text: 'Error/Exception Handling'
                },
                {
                    value: 'Boundary Condition',
                    text: 'Boundary Condition'
                }
            ],
            teststatus: [{
                    value: 'New',
                    text: 'New'
                },
                {
                    value: 'Active',
                    text: 'Active'
                },
                {
                    value: 'Obsolete',
                    text: 'Obsolete'
                }
            ],

            addTestcase: {
                project_id: parseInt(this.$route.query.project_id),
                feature_id: parseInt(this.$route.query.id),
                tep_id: parseInt(this.$route.query.tep_id),
                test_cases_id: null
            },
            
            editForm: {
                test_cases_id: '',
                test_result_id: null
            },

            fields: [{
                    key: 'testcase_No',
                    label: 'Test Case No'
                },
                {
                    key: 'test_type',
                    label: 'Test Case Type'
                },
                {
                    key: 'status',
                    label: 'Status'
                },
                {
                    key: 'name',
                    label: 'Lasted Result'
                },
                {
                    key: 'actions',
                    label: 'Actions'
                }
            ],

            currentPage: 1,
            perPage: 5,
            pageOptions: [5, 10, 15],
            sortBy: '',
            sortDesc: false,
            sortDirection: 'asc',
            filter: null,
            filterOn: [],
        }
    },

    computed: {
        criteria() {
            return this.search.trim().toLowerCase()
        },

        sortOptions() {
            return this.fields
                .filter(f => f.sortable)
                .map(f => {
                    return {
                        text: f.label,
                        value: f.key
                    }
                })
        },

        totalRows() {
            return this.testcaseInTEP.length
        }
    },

    created() {
        this.listtestcaseToTEP()
        this.listdata()
        this.listTestResult()
    },

    methods: {
        onFiltered(filteredItems) {
            this.totalRows = filteredItems.length
            this.currentPage = 1
        },

        listdata() {
            ProjectService.getAllTestcaseToTep(this.$route.query.project_id, this.$route.query.tep_id, this.$route.query.id)
                .then(response => {
                    this.detailTep = response.data.test_execution_plans

                    this.testcaseInTEP = response.data.TestCase;
                    this.listtestcaseToTEP()
                })
            this.project_id = parseInt(this.$route.query.project_id)
            this.tep_id = parseInt(this.$route.query.tep_id)
            this.feature_id = parseInt(this.$route.query.id)
        },

        listtestcaseToTEP() {
            ProjectService.getAllTestcase(this.$route.query.project_id, this.$route.query.id)
                .then(response => {
                    this.detailFeature = response.data.feature
                    console.log(this.detailFeature);
                    const testcaseList = response.data.testCase
                        .filter(testCase => testCase.status === 'Active' || testCase.status === 'New')
                        .map(testCase => {
                            return {
                                value: testCase.id,
                                text: `${testCase.testCase_name}`,
                            }
                        })
                        .filter((item) => {
                            let result = true;
                            for (let testCase of this.testcaseInTEP) {
                                if (item.value == testCase.test_cases_id) {
                                    result = false;
                                    break;
                                }
                            }
                            return result;
                        })
                    this.testcaseList = testcaseList
                })
        },

        listTestResult() {
            ProjectService.getTestResult()
                .then(response => {
                    const testresultList = response.data.test_results.map(testresult => {
                        return {
                            value: testresult.id,
                            text: `${testresult.name}`
                        };
                    })
                    this.testResult = testresultList
                })
        },

        addTestcasetoTEP(e) {
            e.preventDefault();
            ProjectService.addTestcaseToFeature(this.$route.query.project_id, this.$route.query.id, this.$route.query.tep_id, {
                    test_cases_id: [this.addTestcase.test_cases_id],
                    feature_id: this.addTestcase.feature_id
                })
                .then(response => {
                    console.log(response);
                    this.message = 'Test Case is add to TEP !'
                    this.showMessage = true;
                    this.$refs.addTestcaseModal.hide()
                    this.listdata()
                })
        },
        initForm() {
            this.addTestcase.test_cases_id = '';
            this.editForm.test_cases_id = '';
            this.editForm.test_results = '';
        },
        onReset(e) {
            e.preventDefault()
            this.$refs.addTestcaseModal.hide()
            this.initForm()
        },

        //Edit Test Result
        editResult(item) {
            this.editForm = item
        },
        onSubmitResult(e) {
            e.preventDefault();
            this.$refs.editTestCase.hide();
            this.updateResult(e);
        },
        onResetResult(e) {
            e.preventDefault();
            this.$refs.editTestCase.hide();
            this.listdata();
        },
        updateResult(e) {
            e.preventDefault();

            const id = this.editForm.test_cases_id;
            const test_result_id = this.editForm.test_result_id;

            ProjectService.updateTCinTEP(test_cases_id, {
                id,
                test_result_id
            })
            .then(response => {
                console.log(response);
            })
            .catch(error => {
                console.log(error);
            })
        },

        // function delete data
        deleteTCinTEP(item) {
            const project_id = this.$route.query.project_id
            const tep_id = this.$route.query.tep_id
            const feature_id = this.$route.query.id

            if (confirm("Do you want to delete ?")) {
                ProjectService.deleteTCinTEP(project_id, tep_id, feature_id, item.test_cases_id)
                    .then(response => {
                        this.message = 'Test Case in TEP is removed'
                        this.showMessage = true
                        this.listdata()
                    })
                    .catch(error => {
                        console.log(error);
                    })
            }
        },
        onDeleteTCinTEP(item) {
            this.deleteTCinTEP(item)
        }
    }
}
</script>
