<template>
<div>
    <h1>Test Result</h1>

    <b-table  :items="items" :fields="fields"></b-table>
</div>
</template>

<script>
import ProjectService from '@/services/ProjectService'

export default {
    layout: 'LayoutWithSubNavbar',

    data() {
        return {
            items: [],
            fields: [{
                    key: 'name',
                    label: 'Test Result'
                },
                {
                    key: 'yyy',
                    label: 'Build Drop'
                }
            ]
        }
    },

    created() {
        this.listdata()
    },

    methods: {
        listdata() {
            ProjectService.getTestResult()
            .then(response => {
                this.items = response.data.test_results
            })
        }
    }
}
</script>

<style>

</style>
